#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-div{
  background-color: blue;
  color: rgb(223, 154, 50);
}

.second-main-div{
  background-color: blanchedalmond;
  color : blue;
}

.container{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  height: 100%;
  width: auto;  
}

.img1{
  height: 100px;
  width: auto;
  background-color: black;
}

.img2 {
    height: 100px;
    width: auto;
    background-color: brown;
}

.span{
  background-color: gold;
  border-radius: 10%;
  align-content: center ;
}

.reset{
  background-color: coral;
}